<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/bootstrap5.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    {{!-- Include header --}}
    {{> header}}
    {{!-- Body content --}}
    {{{body}}}
    {{!-- Include footer --}}
    {{> footer}}
  </body>
</html>
